In [ ]:
import pandas as pd

t0_parent = pd.read_csv('./T0_With questionaire.csv', sep=';')
t1= pd.read_csv('./HHS_T1_20_10_21_g.csv', sep=';')
CBS1= pd.read_csv('./CBS_gender_age.csv', sep=',')
CBS2= pd.read_csv('./CBS_income.csv', sep=',')
CBS3= pd.read_csv('./CBS_migration_background.csv', sep=',')
CBS4= pd.read_csv('CBS_core_numbers.csv', sep=';')

In [ ]:
#Merging data
t= t0_parent.merge(t1, on='Respondentnummer', how='inner')
print(len(t.columns))
CBSx= CBS1.merge(CBS3, on='Postcode', how='inner')
CBSy= CBS2.merge(CBS4, on='Regio', how='inner')
CBS = CBSx.merge(CBSy, on='Postcode', how='inner')
print(len(CBS.columns))

total= t.merge(CBS, how='left', left_on='postcode_cijfers', right_on='Postcode')
print(len(total.columns))

print(t)

In [ ]:
#Basics - Identify Columns that contain a single value
for col in total.columns:
    if len(total[col].unique())==1:
        total.drop(col, inplace=True, axis=1)

for col in total.columns:
     if len(total[col].unique())==0:
         total.drop(col, inplace=True, axis=1)

print(total.nunique())

#Basics - Identify Rows that contain Duplicate data (no duplicates)
index=total.index
print(len(index))

total.duplicated(subset = 'Respondentnummer', keep = 'last')
index2=total.index
print(len(index2))

#Basics - total file export
total.to_csv(r'./total.csv')

print(len(total.columns))
print(total.shape)

In [ ]:
total2= pd.read_csv('total_cleaned_final_16_11.csv', sep=';')
print(len(total2.columns))
print(total2.shape)

#deleting the comments
del total2['Unnamed: 35']
del total2['invul_vragenlijst_anders']
del total2['samenstelling_anders']
del total2['anderelocatie_dagen']
del total2['geb_land_kind_anders']
del total2['geb_land_uzelf_anders']
del total2['geb_land_partner_anders']
del total2['opleiding_uzelf_anders']
del total2['opleiding_partner_anders']
del total2['cult_achtergrond_uzelf_anders']
del total2['cult_achtergrond_anders']
del total2['vervoer_naarschool_anders']
del total2['naarschool_metwie_anders']
del total2['toelichting_vragenlijst']
del total2['tips_opmerkingen_vragenlijst']

#Delete duplicate columns
del total2['geb_kind']
del total2['geslacht_kind']
del total2['school_nr']
del total2['plaats_school']

print(len(total2.columns))

In [ ]:
total2.insert(6,'Age on testday (t1) 3', pd.Series(total2['Age on testday (t1)']))

In [ ]:
del total2['Age on testday (t1) 2']

In [ ]:
total2.rename(columns={'Age on testday (t1) 3' : 'Age on testday (t1)'}, inplace=True)

In [ ]:
total2.insert(8,'MQ score (t1)', pd.Series(total2['MQ score 2']))

In [ ]:
total2.insert(9,'MQ score t1', pd.Series(total2['MQ score (t1)']))

In [ ]:
total2.insert(8,'MQ score t0', pd.Series(total['MQ']))

In [ ]:
total2.to_csv(r'./total2.csv', index=False)
print(total2.shape)

In [ ]:
clean= pd.read_csv('total2.csv', sep=',')
print(clean)

In [ ]:
clean.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
clean.to_csv(r'./cleaning.csv')
df= pd.read_csv('cleaning.csv', sep=',')

In [ ]:
#df = pd.read_csv('./cleaning_BMICAT.csv', sep=',')
print(len(df.columns))

In [ ]:
#deleting van T1 gegevens
df.drop('12. Stuiten bal 2', axis=1, inplace=True)
df.drop('11. Zijw. Gallop 2', axis=1, inplace=True)
df.drop('10. Knuppel 2', axis=1, inplace=True)
df.drop('9. Voorw. Springen 2', axis=1, inplace=True)
df.drop('8. Bal schoppen 2', axis=1, inplace=True)
df.drop('7. Loopsprong 2', axis=1, inplace=True)
df.drop('6. Bal rollen 2', axis=1, inplace=True)
df.drop('5. Hinkelen 2', axis=1, inplace=True)
df.drop('4. Bal vangen 2', axis=1, inplace=True)
df.drop('3. Galloperen 2', axis=1, inplace=True)
df.drop('2. Bal gooien 2', axis=1, inplace=True)
df.drop('1. Rennen 2', axis=1, inplace=True)
df.drop('TV kijken/tablet 2', axis=1, inplace=True)
df.drop('Sport 2', axis=1, inplace=True)
df.drop('Sport J/N 2', axis=1, inplace=True)
df.drop('Buiten spelen 2', axis=1, inplace=True)
df.drop('Schoolplein 2', axis=1, inplace=True)
df.drop('Zwemles 2', axis=1, inplace=True)
df.drop('Zwemles J/N 2', axis=1, inplace=True)
df.drop('Gymles 2', axis=1, inplace=True)
df.drop('BMI 2', axis=1, inplace=True)
df.drop('lengte (m) 2', axis=1, inplace=True)
df.drop('Gewicht (afgerond op 0.1 kg) 2', axis=1, inplace=True)
df.drop('Lengte (afgerond op 0.1 cm) 2', axis=1, inplace=True)
df.drop('Age on testday (t1).1', axis=1, inplace=True)
df.drop('MQ', axis=1, inplace=True)
df.drop('MQ score (t1)', axis=1, inplace=True)
df.drop('MQ score 2', axis=1, inplace=True)

In [ ]:
#df.drop('AST-2 (tijd afgerond op 0.1s)', axis=1, inplace=True)
#df.drop('AST-1 (tijd afgerond op 0.1s)', axis=1, inplace=True)
df.drop('datum_ingevuld', axis=1, inplace=True)

In [ ]:
df.to_csv(r'./WithoutT1.csv', index=False)

In [ ]:
dm = pd.read_csv('./WithoutT1.csv', sep=',')

In [ ]:
new = dm['Zip-code'].str.split(" ", n=1, expand=True )

In [ ]:
dm['Zip-code school'] = new[0]
dm['Letter Zip']=new[1]

In [ ]:
dm.to_csv(r'./Zip.csv', index=False)

In [66]:
dl = pd.read_csv('./Zip.csv', sep=',')
print(dl.shape)

(1435, 140)

In [67]:
#removing the letters of the zip code
dl.drop('Zip-code', axis=1, inplace=True)
dl.drop('Letter Zip', axis=1, inplace=True)
dl.drop('postcode_letters', axis=1, inplace=True)
dl.drop('Gender_y', axis=1, inplace=True)
dl.drop('Opmerkingen 2.1', axis=1, inplace=True)

In [70]:
dl.to_csv(r'./Test.csv', index=False)
print(dl.shape)

(1435, 135)

In [69]:
dl['Age differents']= dl['Age on testday (t1)'] - dl['Age on testday (t0)']

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [ ]:
#dl.drop('Age on testday (t1)', axis=1, inplace=True)

In [ ]:
dl.to_csv(r'./Cleaned.csv', index=False)

In [ ]:
dr = pd.read_csv('./Cleaned.csv', sep=',')
print(dr.shape)